@charset "utf-8";

body {
  display: flex;
  flex-direction: row;
  font-family: 'Garamond', serif;
}

header {
  flex: 0 0 50%;
  max-width: 50%;
}

nav {
  flex: 1 1 50%;
  max-width: 50%;
}

img {
  max-width: 100%;
  max-height: 1024px;
  width: auto;
  height: auto;
  display: block;
}
