@charset "utf-8";

:root {
  --font-primary: 'Garamond', serif;
}

article {
  display: flex;
  flex-direction: row;
  font-family: var(--font-primary);
  line-height: 1.6;
  letter-spacing: 0.025em;
}

article nav {
  flex: 0 0 50%;
  max-width: 50%;
}

article picture {
  flex: 1 1 50%;
  max-width: 50%;
  margin-top: auto;
}

img {
  max-width: 100%;
  max-height: 1024px;
  width: auto;
  height: auto;
  display: block;
}
