@charset "UTF-8";

@media (orientation: landscape) {
  :where(html) {
    --content-size: 100vh;
  }
}

@media (orientation: portrait) {
  :where(html) {
    --content-size: 100vw;
  }
}

:where(html) {
  --color-background: #000;
  --color-link: #fff;

  --font-family-body: "Baskerville",
                      "Libre Baskerville",
                      "Baskerville Old Face",
                      "Palatino",
                      "Palatino Linotype",
                      ui-serif,
                      Georgia,
                      serif;

  --font-size-1: calc(var(--content-size)/14);
}

:root {
  font-size: var(--font-size-1);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

body {
  color: var(--color-text);
  font-family: var(--font-family-body);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  color: var(--color-link);
  text-decoration: none;
  padding: calc(var(--font-size-1) / 4);
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 img {
  display: block;
  height: 100%;
  width: auto;
  max-height: 100vh;
  object-fit: contain;
}

ul {
  list-style: none;
  margin: 0;
  padding: var(--font-size-1) 0;
  width: min(50%, 512px);
}

h1,
li {
  margin: 0;
  padding: calc(var(--font-size-1) / 4);
}
